.admin-container {
  padding: 40px;
  background: #020617;
  min-height: 100vh;
  color: white;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.webinar-card {
  background: #020b2d;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  background: #2563eb;
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-success {
  background: #16a34a;
}
